# Created by venv; see https://docs.python.org/3/library/venv.html

# Ignore virtual environment
.venv/
venv/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore API keys and environment files
src/api_key.txt
.env
.envrc

# Ignore logs and temporary files
logs/
*.log
debug.log

# Ignore dependency tracking files
pip-log.txt
pip-delete-this-directory.txt

# Ignore IDE and editor files
.idea/
.vscode/

# Ignore system files
Thumbs.db
.DS_Store

data/

moje_poznamky.txt